<div id="estDisclaimer">
  <p>
    The U.S. Environmental Solutions Toolkit is a buyer's resource guide that marries EPA expertise on solving
    environmental challenges with a catalogue of U.S. providers of related technologies. The U.S. Environmental
    Solutions
    Toolkit supports the President's National Export Initiative by fostering export opportunities for the U.S.
    environmental industry as well as advancing environmental protection goals.
  </p>
  <p>
    Disclaimer: The information on this website is intended to assist buyers seeking to identify U.S. businesses
    providing
    technologies designed to solve the designated environmental challenge under which they are listed. Any business in
    this industry sector may request listing by contacting the International Trade Administration (ITA) at
    <a href="mailto:envirotech@trade.gov">envirotech@trade.gov</a> and submitting the required information. The list
    is
    not exhaustive of all U.S. businesses in
    this sector. Listing does not constitute endorsement of the business or its products, services or technology by
    ITA.
    ITA has performed limited due diligence; but recommends strongly that parties perform their own due diligence,
    investigation, and background research before entering into a commercial relationship with any listed business or
    business contact facilitated through this product. ITA assumes no responsibility or liability for the actions
    users
    may take based on the information provided. ITA reserves the right not to list any particular business.
  </p>
</div>
