{% raw %}
<div id="est">
  <h1>Environmental Solutions Toolkit</h1>
  <div class="estCard">
    <div class="estCardBody">
      <form>
        <div>
          <label for="issuesSelect">Issues <span /></label>
          <select id="issuesSelect"></select>
        </div>
        <div>
          <label for="regulationsSelect">Regulations <span /></label>
          <select id="regulationsSelect"></select>
        </div>
        <div>
          <label for="solutionsSelect">Solutions <span /></label>
          <select id="solutionsSelect"></select>
        </div>
        <div>
          <label for="providersSelect">Providers <span /></label>
          <select id="providersSelect"></select>
        </div>
        <input type="button" value="Reset" id="estReset" />
      </form>
    </div>
  </div>
</div>
<div id="estResults" />
{% endraw %}
