{% raw %}
<div id="est">
  <h1>Environmental Solutions Toolkit</h1>
  <div class="estCard">
    <div class="estCardBody">
      <form>
        <div>
          <label for="issuesSelect">Environmental Issue <span /></label>
          <select id="issuesSelect"></select>
        </div>
        <div>
          <label for="regulationsSelect">EPA Regulation <span /></label>
          <select id="regulationsSelect"></select>
        </div>
        <div>
          <label for="solutionsSelect">Solution <span /></label>
          <select id="solutionsSelect"></select>
        </div>
        <div>
          <label for="providersSelect">U.S. Solution Provider <span /></label>
          <select id="providersSelect"></select>
        </div>
        <input type="button" value="Clear" id="estReset" />
      </form>
    </div>
  </div>
</div>
<div id="estResults" />
{% endraw %}
